@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit;}

/*layout*/
body {color: #111; font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.25px;;}
.container01 {width: 1640px; margin: 0 auto; }
.container02 {width: 1364px; margin: 0 auto; }
.hide{opacity: 0;}

/*header*/
#header {position: relative; z-index: 1000;}
.header-top .sub-nav {display: flex; justify-content: space-between; align-items: center; height: 48px;}
.header-top .sub-nav ul {display: flex;}
.header-top .sub-nav ul li{margin-right: 40px; font-size: 14px;}
.header-top .sub-nav ul li:last-child {margin-right: 0;}
.nav-line {width: 100%; height: 1px; background: #D2D2D2;}

.header-bottom {display: flex; height: 77px; align-items: center; justify-content: space-between; z-index: 1000; position: relative;}
.header-bottom h1{width: 150px; height: 50px;}
.header-bottom h1 img{width: 100%;}
.header-bottom .main-nav{ font-size: 20px; position: relative; }
.header-bottom .main-nav .title-nav {display: flex; font-weight: 500;}
.header-bottom .main-nav .title-nav li{margin-right: 88px; width: 91px; text-align: center;}
.header-bottom .main-nav .title-nav li:last-child{margin-right: 0; }
.header-bottom .main-nav .title-nav li a:hover{color:#FC6459;}
.color {color: #FC6459;}
.header-bottom .main-nav .sub-nav {position: absolute; font-weight: normal; font-size: 16px;  display: none;
background: #fff; padding: 20px 0 20px 20px; border-radius: 0 0 20px 20px; width: 170px;}
.header-bottom .main-nav .sub-nav li{margin-bottom: 10px; width: 100%; text-align: left;}
.header-bottom .main-nav .sub-nav li a{width: 100%; }
.header-bottom .main-nav .sub-nav li:last-child{margin-bottom: 0px;}
.header-bottom .main-nav .sub-nav li a:hover {text-decoration: underline; text-underline-position: under;}

.jbFixed {position: fixed; top: 0; left: 0; right: 0; background: #fff;}

/*banner*/
#banner {width: 100%; height: 300px; background: url('../images/sub-page/banner/banner-3.jpg') no-repeat center;}

/*section-title*/
#title { text-align: center;}
#title .titlebox {position: relative;}
#title .titlebox h2{font-family: 'yg-jalnan'; color: #FC6459; font-size: 80px; margin-top: 100px; position: relative; z-index: 10;}
#title .titlebox h3 {width: 659px; height: 90px; background: #F2E65C; border-radius: 45px; margin: 0 auto; text-align: center; line-height: 90px; font-size: 40px; font-weight: bold; position: absolute; left: calc(50% - 340px); top: 96px; z-index: 1;}
#title h4 {font-size: 40px; font-weight: 500; margin-top: 135px;}
#title h4.h4-margin-top  {margin-top: 0px;}
#title p {font-size: 20px;}
#title p.p-margin-top {margin-top: 24px;}
/*
#title .button {padding: 50px 0px; text-align: center; margin: 0 auto;}
*/
/*section-tenstep*/
#tenstep {width: 100%; height: 2548px; background-color: #F8F8F8; border-radius: 0 320px 0 0; margin-top: 120px; padding-top: 99px; overflow: hidden; position: relative;}
#tenstep h2 {font-family: 'yg-jalnan'; font-size: 60px; color: #FC6459;}

/*tenstep - character*/
.character1 {display: flex; position: absolute; left: -58px; top: 580px;}
.character1 img{transform: rotate(38deg); margin-top: 0px; margin-right: 50px;}
.character1 .character1-img {margin-top: 80px;}
.character1 .speechbubble1 {position: relative; font-size: 25px; color: #fff; animation: speech1 0.6s linear 0s infinite alternate;  }
.character1 .speechbubble1 img {margin-top: 0; }
.character1 .speechbubble1 p{position: absolute; left: 40px; top: 51px; text-align: center; line-height: 42px; } 

.character2 {display: flex; position: absolute; right: -88px; top: 1200px; }
.character2 img{margin-top: 0px;}
.character2 .character2-img {margin-top: 120px; transform: rotate(-38deg); }
.character2 .speechbubble2 {position: relative; font-size: 25px; color: #fff; animation: speech1 0.6s linear 0s infinite alternate;}
.character2 .speechbubble2 .speechbubble2-img{margin-top: 88px;}
.character2 .speechbubble2 img {margin-top: 0;}
.character2 .speechbubble2 p{position: absolute; left: 32px; top: 126px; text-align: center; line-height: 42px; }

.character3 {display: flex; position: absolute; left: 120px; bottom: 60px;}
.character3 img{margin-top: 0px; }
.character3 .character3-img {margin-top: 100px; width: 198px; height: 198px; margin-right: 20px;}
.character3 .speechbubble3 {position: relative; font-size: 25px; color: #fff; animation: speech1 0.6s linear 0s infinite alternate; }
.character3 .speechbubble3 .speechbubble3-img{margin-top: 0px;}
.character3 .speechbubble3 img {margin-top: 0;}
.character3 .speechbubble3 p{position: absolute; left: 43px; top: 35px; text-align: center; line-height: 42px;} 

@keyframes speech1 {
    0% {margin-top: 0;}
    100% {margin-top: 5px;}
}


.tenstep-cont1 {display: flex; justify-content: space-between; margin-top: 125px;}
.tenstep-cont1 .tenstep-cont1-left h3{font-family: 'yg-jalnan'; font-size: 50px;}
.tenstep-cont1 .tenstep-cont1-left p{font-size: 36px; margin-top: 45px; width: 410px;}

.tenstep-cont1 .tenstep-cont1-right{display: flex;}
.tenstep-cont1 .tenstep-cont1-right .cont1-rightboxwrap{text-align: center; margin-right: 80px;}
.tenstep-cont1 .tenstep-cont1-right .cont1-rightboxwrap:last-child{margin-right: 0px;}
.tenstep-cont1 .tenstep-cont1-right .cont1-rightboxwrap .cont1-rightbox{width: 212px; height: 212px; border-radius: 20px; background: #fff; padding: 53px;}
.tenstep-cont1 .tenstep-cont1-right .cont1-rightboxwrap .cont1-rightbox img {height: 106px; width: 106px;}
.tenstep-cont1 .tenstep-cont1-right .cont1-rightboxwrap p{font-size: 38px; margin-top: 32px;}

.tenstep-cont2{display: flex; margin-top: 270px; justify-content: space-between;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-top{display: flex;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-top .cont2-leftboxwrap{text-align: center; margin-right: 81px;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-top .cont2-leftboxwrap:last-child {margin-right: 0px;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-top .cont2-leftboxwrap .cont2-leftbox{width: 212px; height: 212px; border-radius: 20px; background: #fff; padding: 53px;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-top .cont2-leftboxwrap .cont2-leftbox img{height: 106px; width: 106px;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-top .cont2-leftboxwrap p{font-size: 38px; margin-top: 32px;}

.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-bottom{display: flex;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-bottom .cont2-leftboxwrap{text-align: center; margin-right: 81px; margin-top: 25px;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-bottom .cont2-leftboxwrap:last-child{margin-right: 0px;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-bottom .cont2-leftboxwrap .cont2-leftbox{width: 212px; height: 212px; border-radius: 20px; background: #fff; padding: 53px;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-bottom .cont2-leftboxwrap .cont2-leftbox img{height: 106px; height: 106px;}
.tenstep-cont2 .tenstep-cont2-left .cont2-leftbox-bottom .cont2-leftboxwrap p{font-size: 38px; margin-top: 32px;}
.tenstep-cont2 .tenstep-cont2-right h3{font-family: 'yg-jalnan'; font-size: 50px;}
.tenstep-cont2 .tenstep-cont2-right p{font-size: 36px; margin-top: 45px; width: 410px;}

.tenstep-cont3 {display: flex; justify-content: space-between; margin-top: 310px;}
.tenstep-cont3 .tenstep-cont3-left h3{font-family: 'yg-jalnan'; font-size: 50px;}
.tenstep-cont3 .tenstep-cont3-left p{font-size: 36px; margin-top: 45px; width: 450px;}

.tenstep-cont3 .tenstep-cont3-right{display: flex;}
.tenstep-cont3 .tenstep-cont3-right .cont3-rightboxwrap{text-align: center; margin-right: 80px;}
.tenstep-cont3 .tenstep-cont3-right .cont3-rightboxwrap:last-child{margin-right: 0px;}
.tenstep-cont3 .tenstep-cont3-right .cont3-rightboxwrap .cont3-rightbox{width: 212px; height: 212px; border-radius: 20px; background: #fff; padding: 53px;}
.tenstep-cont3 .tenstep-cont3-right .cont3-rightboxwrap .cont3-rightbox img {height: 106px; width: 106px;}
.tenstep-cont3 .tenstep-cont3-right .cont3-rightboxwrap p{font-size: 38px; margin-top: 32px; }

.subscribe-btn {font-family: 'yg-jalnan';width: 400px; height: 103px; background: #FC6459; margin: 0 auto; border-radius: 52px; text-align: center; line-height: 103px; margin-top: 150px; cursor: pointer; font-size: 30px; color: #fff;}

/*footer*/
#footer {width: 100%; height: 507px; background: #221E1F; color: #fff; border-radius: 160px 0 0 0; position: relative;}
#footer .footer-line {width: 100%; height: 1px; background: #383435; position: absolute; bottom: 50px;}
.footer-top {display: flex;}
.footer-top .footer-left{margin-top: 52px;}
.footer-top .footer-left .footer-left-top h2{font-size: 20px; font-weight: normal; padding-bottom: 10px;}
.footer-top .footer-left .footer-left-top p{color: #999999; font-size: 15px; margin-bottom: 5px;}
.footer-top .footer-left .footer-left-top p:last-child{margin-bottom: 0px;}

.footer-top .footer-left .footer-left-bottom {margin-top: 30px;}
.footer-top .footer-left .footer-left-bottom h2{font-size: 20px; font-weight: normal;}
.footer-top .footer-left .footer-left-bottom h3{font-size: 25px; font-weight: normal; margin-bottom: 5px;}
.footer-top .footer-left .footer-left-bottom p{color: #999; font-size: 15px; margin-bottom: 5px;}
.footer-top .footer-left .footer-left-bottom p:last-child{margin-bottom: 0px;}
.footer-top .footer-left .footer-left-bottom .footer-copy{margin-top: 30px;}
.footer-top .footer-left .footer-left-bottom .footer-copy p{margin-top: 0;}

.footer-top .footer-right .footer-nav{margin-left: 140px; margin-top: 52px;}
.footer-top .footer-right .footer-nav ul.top-nav {display: flex;}
.footer-top .footer-right .footer-nav ul.top-nav li{font-size: 20px; font-weight: 500; width: 140px;}
.footer-top .footer-right .footer-nav ul.top-nav li ul.bottom-nav li{font-size: 15px; font-weight: normal; color: #999999; margin-bottom: 10px;}
.footer-top .footer-right .footer-nav ul.top-nav li ul.bottom-nav li:first-child {margin-top: 20px;}

.footer-bottom {margin-top: 25px;}
.footer-bottom .footer-bottomwrap{display: flex; justify-content: space-between; align-items: center;}
.footer-bottom .footer-bottomwrap .footer-left ul{display: flex;}
/*.footer-bottom .footer-bottomwrap .footer-left ul li:nth-child(2){width: 1px; height: 22px; color: #383435;}*/
.footer-bottom .footer-bottomwrap .footer-left ul li:nth-child(1){margin-right: 48px;}
.footer-bottom .footer-bottomwrap .footer-left ul li:nth-child(even){width: 1px; height: 22px; background: #383435;}
.footer-bottom .footer-bottomwrap .footer-left ul li:nth-child(3){margin: 0 48px;}
.footer-bottom .footer-bottomwrap .footer-left ul li:nth-child(5){margin: 0 48px;}
.footer-bottom .footer-bottomwrap .footer-left ul li:nth-child(7){margin: 0 48px;}

.footer-bottom .footer-bottomwrap .footer-right img {width: 24px; height: 24px;}